/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #dc3545;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.title {
  margin: 0;
}

.btn-create {
  line-height: 34px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 1px solid #dc3545;
}

fa-icon[ng-reflect-classes="icon-true"] svg {
  color: #28a745;
}

fa-icon[ng-reflect-classes="icon-false"] svg {
  color: #dc3545;
}

.actions a,
.actions button {
  width: 75px;
}
