<h1 class="title">Property details</h1>
<form
  *ngIf="selectedProperty.suburb"
  class="mt-3"
  (ngSubmit)="onSubmit(propertyForm)"
  #propertyForm="ngForm"
>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Address</legend>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="unit">Unit</label>
        <input
          type="text"
          class="form-control"
          id="unit"
          placeholder="Please enter the unit of the property"
          name="unit"
          [(ngModel)]="selectedProperty.unit"
          #unit="ngModel"
          required
        />
        <div class="alert alert-danger" *ngIf="unit.touched && unit.invalid">
          Please enter the unit of the property!
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          placeholder="Please enter the street of the property"
          name="street"
          [(ngModel)]="selectedProperty.street"
          #street="ngModel"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="street.touched && street.invalid"
        >
          Please enter the street of the property!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="suburb">Suburb</label>
        <select
          name="suburbId"
          id="suburb"
          class="form-control custom-select"
          placeholder="Please select the suburb of the property"
          [(ngModel)]="selectedProperty.suburbId"
          (change)="onSuburbChange(selectedProperty.suburbId)"
          #suburbId="ngModel"
          pattern="^[1-9][0-9]*$"
          required
        >
          <option value="{{ suburb.id }}" *ngFor="let suburb of suburbs">
            {{ suburb.name }} {{ suburb.postcode }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="suburbId.touched && selectedProperty.suburbId == -1"
        >
          Please choose one of the suburbs for the property!
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="State"
          name="state"
          disabled
          [(ngModel)]="state"
        />
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Rooms</legend>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="bedroom">Bedroom: {{ selectedProperty.bedroom }}</label>
        <input
          type="range"
          class="form-control"
          id="bedroom"
          name="bedroom"
          [(ngModel)]="selectedProperty.bedroom"
          min="0"
          max="10"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="bathroom">Bathroom: {{ selectedProperty.bathroom }}</label>
        <input
          type="range"
          class="form-control"
          id="bathroom"
          name="bathroom"
          [(ngModel)]="selectedProperty.bathroom"
          min="0"
          max="10"
          required
        />
      </div>
      <div class="form-group col-md-4">
        <label for="parking">Parking: {{ selectedProperty.parking }}</label>
        <input
          type="range"
          class="form-control"
          id="parking"
          name="parking"
          [(ngModel)]="selectedProperty.parking"
          min="0"
          max="10"
          required
        />
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Features</legend>
    <div class="form-row">
      <div class="form-check form-check-inline col-md-5">
        <input
          class="form-check-input mr-3"
          type="checkbox"
          id="petsAllowed"
          value="petsAllowed"
          name="petsAllowed"
          [(ngModel)]="selectedProperty.petsAllowed"
        />
        <label class="form-check-label" for="petsAllowed">Pets Allowed</label>
      </div>
      <div class="form-check form-check-inline col-md-5">
        <input
          class="form-check-input mr-3"
          type="checkbox"
          id="builtInWardrobe"
          value="builtInWardrobe"
          name="builtInWardrobe"
          [(ngModel)]="selectedProperty.builtInWardrobe"
        />
        <label class="form-check-label" for="builtInWardrobe">
          Built-in Wardrobe
        </label>
      </div>
      <div class="form-check form-check-inline col-md-5">
        <input
          class="form-check-input mr-3"
          type="checkbox"
          id="gasAvailable"
          value="gasAvailable"
          name="gasAvailable"
          [(ngModel)]="selectedProperty.gasAvailable"
        />
        <label class="form-check-label" for="gasAvailable">Gas Available</label>
      </div>
      <div class="form-check form-check-inline col-md-5">
        <input
          class="form-check-input mr-3"
          type="checkbox"
          id="hasStudyRoom"
          value="hasStudyRoom"
          name="hasStudyRoom"
          [(ngModel)]="selectedProperty.hasStudyRoom"
        />
        <label class="form-check-label" for="hasStudyRoom">
          Has Study Room
        </label>
      </div>
      <div class="form-check form-check-inline col-md-5">
        <input
          class="form-check-input mr-3"
          type="checkbox"
          id="furnished"
          value="furnished"
          name="furnished"
          [(ngModel)]="selectedProperty.furnished"
        />
        <label class="form-check-label" for="furnished">Furnished</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Other informations</legend>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="owner">Owner</label>
        <select
          name="ownerId"
          id="owner"
          class="form-control custom-select"
          placeholder="Please select the owner of the property"
          [(ngModel)]="selectedProperty.ownerId"
          (change)="onOwnerChange(selectedProperty.ownerId)"
          #ownerId="ngModel"
          pattern="^[1-9][0-9]*$"
          required
        >
          <option value="{{ owner.id }}" *ngFor="let owner of owners">
            {{ owner.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="ownerId.touched && selectedProperty.ownerId == -1"
        >
          Please choose one of the owners for the property!
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="propertyType">Property Type</label>
        <select
          name="propertyTypeId"
          id="propertyType"
          class="form-control custom-select"
          placeholder="Property Type"
          [(ngModel)]="selectedProperty.propertyTypeId"
          (change)="onPropertyTypeChange(selectedProperty.propertyTypeId)"
          #propertyTypeId="ngModel"
          pattern="^[1-9][0-9]*$"
          required
        >
          <option
            value="{{ propertyType.id }}"
            *ngFor="let propertyType of propertyTypes"
          >
            {{ propertyType.name }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="
            propertyTypeId.touched && selectedProperty.propertyTypeId == -1
          "
        >
          Please choose one of the property types for the property!
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="available">Available</label>
        <input
          type="text"
          class="form-control"
          id="available"
          placeholder="Available"
          name="available"
          disabled
          [(ngModel)]="available"
        />
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Actions</legend>
    <div class="form-row">
      <div class="form-group col-xl-4">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="
            selectedProperty.suburbId == -1 ||
            selectedProperty.ownerId == -1 ||
            selectedProperty.propertyTypeId == -1 ||
            propertyForm.form.invalid
          "
        >
          Submit
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="onClear(propertyForm)"
        >
          Clear
        </button>
      </div>
    </div>
  </fieldset>
</form>
<h2 *ngIf="!selectedProperty.suburb">Property details loading...</h2>
