<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="d-flex flex-row justify-content-between">
  <h1 class="title">Rental records</h1>
  <a [routerLink]="['/rental/new']" class="btn btn-primary btn-create">
    Create a rental record
  </a>
</div>
<div class="data-loaded" *ngIf="rentalsLoaded">
  <h2 *ngIf="rentals.length == 0" class="text-center m-5">
    No rental record at the moment.
  </h2>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Filter by</legend>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="state">State</label>
        <select
          name="state"
          id="state"
          class="form-control custom-select"
          placeholder="Filter rentals by state"
          [(ngModel)]="query.stateId"
          (change)="onStateChange()"
        >
          <option value="-1"></option>
          <option value="{{ state.id }}" *ngFor="let state of states">
            {{ state.acronym }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="suburb">Suburb</label>
        <select
          name="suburb"
          id="suburb"
          class="form-control custom-select"
          placeholder="Filter rentals by suburb"
          [(ngModel)]="query.suburbId"
          (change)="onSuburbChange()"
        >
          <option value="-1"></option>
          <option
            value="{{ suburb.id }}"
            *ngFor="let suburb of filteredSuburbs"
          >
            {{ suburb.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="range">Minimum rent</label>
        <select
          name="minimum"
          id="minimum"
          class="form-control custom-select"
          [class.ng-invalid]="
            minimum.touched &&
            ((query.minimumRent != -1 && query.maximumRent == -1) ||
              (query.minimumRent == -1 && query.maximumRent != -1) ||
              query.minimumRent > query.maximumRent)
          "
          placeholder="Filter rentals by minimum payment"
          [(ngModel)]="query.minimumRent"
          (change)="onRangeChange()"
          #minimum="ngModel"
        >
          <option value="-1"></option>
          <option value="{{ range }}" *ngFor="let range of ranges">
            ${{ range }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="
            minimum.touched &&
            ((query.minimumRent != -1 && query.maximumRent == -1) ||
              (query.minimumRent == -1 && query.maximumRent != -1) ||
              query.minimumRent > query.maximumRent)
          "
        >
          Please make the minimum rent smaller than maximum one!
        </div>
      </div>
      <div class="form-group col-md-2">
        <label for="range">Maximum rent</label>
        <select
          name="maximum"
          id="maximum"
          class="form-control custom-select"
          [class.ng-invalid]="
            maximum.touched &&
            ((query.minimumRent != -1 && query.maximumRent == -1) ||
              (query.minimumRent == -1 && query.maximumRent != -1) ||
              query.minimumRent > query.maximumRent)
          "
          placeholder="Filter rentals by maximum payment"
          [(ngModel)]="query.maximumRent"
          (change)="onRangeChange()"
          #maximum="ngModel"
        >
          <option value="-1"></option>
          <option value="{{ range }}" *ngFor="let range of ranges">
            ${{ range }}
          </option>
        </select>
        <div
          class="alert alert-danger"
          *ngIf="
            maximum.touched &&
            ((query.minimumRent != -1 && query.maximumRent == -1) ||
              (query.minimumRent == -1 && query.maximumRent != -1) ||
              query.minimumRent > query.maximumRent)
          "
        >
          Please make the minimum rent smaller than maximum one!
        </div>
      </div>
      <div class="form-group col-md-2">
        <button
          class="btn btn-primary form-control reset-button"
          (click)="onResetFilter()"
        >
          Reset
        </button>
      </div>
    </div>
  </fieldset>
  <table
    class="table table-hover table-striped mt-3 text-center"
    *ngIf="rentals.length > 0"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          scope="col"
          [class.sortable]="column.isSortable"
        >
          <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
            {{ column.title }}
            <fa-icon
              [icon]="faSortUp"
              size="xs"
              *ngIf="query.sortBy === column.key && query.isSortedAscending"
            ></fa-icon>
            <fa-icon
              [icon]="faSortDown"
              size="xs"
              *ngIf="query.sortBy === column.key && !query.isSortedAscending"
            ></fa-icon>
          </div>
          <div *ngIf="!column.isSortable">
            {{ column.title }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td scope="row">{{ rental.property.owner.name }}</td>
        <td scope="row">{{ rental.tenant.name }}</td>
        <td scope="row">{{ rental.property.suburb.name }}</td>
        <td scope="row">{{ rental.property.suburb.state.acronym }}</td>
        <td scope="row">{{ rental.payment }}</td>
        <td scope="row">{{ rental.startDate }}</td>
        <td scope="row">{{ rental.endDate }}</td>
        <td scope="row" class="actions">
          <a
            [routerLink]="['/rental', rental.id]"
            (click)="onEditRental(rental)"
            class="btn btn-primary mr-5"
          >
            Edit
          </a>
          <button
            (click)="onDeleteRental(rental)"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    [total-items]="queryResult.totalItems"
    [page-size]="query.pageSize"
    (page-changed)="onPageChanged($event)"
  ></pagination>
</div>
<h2 *ngIf="!rentalsLoaded">Rental records loading...</h2>
