<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="d-flex flex-row justify-content-between">
  <h1 class="title">Properties</h1>
  <a [routerLink]="['/property/new']" class="btn btn-primary btn-create">
    Create Property
  </a>
</div>
<div class="data-loaded" *ngIf="propertiesLoaded">
  <h2 *ngIf="properties.length == 0" class="text-center m-5">
    No property at the moment.
  </h2>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Filter by</legend>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="state">State</label>
        <select
          name="state"
          id="state"
          class="form-control custom-select"
          placeholder="Filter properties by state"
          [(ngModel)]="query.stateId"
          (change)="onStateChange()"
        >
          <option value="-1"></option>
          <option value="{{ state.id }}" *ngFor="let state of states">
            {{ state.acronym }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="suburb">Suburb</label>
        <select
          name="suburb"
          id="suburb"
          class="form-control custom-select"
          placeholder="Filter properties by suburb"
          [(ngModel)]="query.suburbId"
          (change)="onSuburbChange()"
        >
          <option value="-1"></option>
          <option
            value="{{ suburb.id }}"
            *ngFor="let suburb of filteredSuburbs"
          >
            {{ suburb.name }}
          </option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <label for="available">Available</label>
        <select
          name="available"
          id="available"
          class="form-control custom-select"
          placeholder="Filter properties by available"
          [(ngModel)]="query.available"
          (change)="onAvailableChange()"
        >
          <option value="-1">All</option>
          <option value="0">False</option>
          <option value="1">True</option>
        </select>
      </div>
      <div class="form-group col-md-3">
        <button
          class="btn btn-primary form-control reset-button button-aligned"
          (click)="onResetFilter()"
        >
          Reset
        </button>
      </div>
    </div>
  </fieldset>
  <table
    class="table table-hover table-striped mt-3 text-center"
    *ngIf="properties.length > 0"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          scope="col"
          [class.sortable]="column.isSortable"
        >
          <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
            {{ column.title }}
            <fa-icon
              [icon]="faSortUp"
              size="xs"
              *ngIf="query.sortBy === column.key && query.isSortedAscending"
            ></fa-icon>
            <fa-icon
              [icon]="faSortDown"
              size="xs"
              *ngIf="query.sortBy === column.key && !query.isSortedAscending"
            ></fa-icon>
          </div>
          <div *ngIf="!column.isSortable">
            {{ column.title }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of properties">
        <td scope="row">{{ property.suburb.name }}</td>
        <td scope="row">{{ property.suburb.state.acronym }}</td>
        <td scope="row">{{ property.bedroom }}</td>
        <td scope="row">{{ property.bathroom }}</td>
        <td scope="row">{{ property.parking }}</td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.petsAllowed"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.petsAllowed"
          >
          </fa-icon>
        </td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.builtInWardrobe"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.builtInWardrobe"
          >
          </fa-icon>
        </td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.gasAvailable"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.gasAvailable"
          >
          </fa-icon>
        </td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.hasStudyRoom"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.hasStudyRoom"
          >
          </fa-icon>
        </td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.furnished"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.furnished"
          >
          </fa-icon>
        </td>
        <td scope="row">
          <fa-icon
            [icon]="faCheckCircle"
            [classes]="['icon-true']"
            size="lg"
            *ngIf="property.available"
          >
          </fa-icon>
          <fa-icon
            [icon]="faTimesCircle"
            [classes]="['icon-false']"
            size="lg"
            *ngIf="!property.available"
          >
          </fa-icon>
        </td>
        <td scope="row" class="actions">
          <a
            [routerLink]="['/property', property.id]"
            (click)="onEditProperty(property)"
            class="btn btn-primary mr-2"
          >
            Edit
          </a>
          <button
            (click)="onDeleteProperty(property)"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    [total-items]="queryResult.totalItems"
    [page-size]="query.pageSize"
    (page-changed)="onPageChanged($event)"
  ></pagination>
</div>
<h2 *ngIf="!propertiesLoaded">Properties loading...</h2>
