<h1>Properties</h1>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th scope="col">Suburb</th>
      <th scope="col">Postcode</th>
      <th scope="col">State</th>
      <th scope="col">Abbreviation</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let suburb of suburbs">
      <td scope="row">{{ suburb.name }}</td>
      <td scope="row">{{ suburb.postcode }}</td>
      <td scope="row">{{ suburb.state }}</td>
      <td scope="row">{{ suburb.abbreviation }}</td>
      <td scope="row">
        <!-- <a [routerLink]="['/suburb', suburb.id]" (click)="onEditSuburb(suburb)">
          Edit
        </a> -->
      </td>
    </tr>
  </tbody>
</table>
<h2>Suburbs loading...</h2>
