<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div class="d-flex flex-row justify-content-between">
  <h1 class="title">Suburbs</h1>
  <a [routerLink]="['/suburb/new']" class="btn btn-primary btn-create">
    Create Suburb
  </a>
</div>
<div class="data-loaded" *ngIf="suburbsLoaded">
  <h2 *ngIf="suburbs.length == 0" class="text-center m-5">
    No suburb at the moment.
  </h2>
  <table
    class="table table-hover table-striped mt-3 text-center"
    *ngIf="suburbs.length > 0"
  >
    <thead>
      <tr>
        <th
          *ngFor="let column of columns"
          scope="col"
          [class.sortable]="column.isSortable"
        >
          <div *ngIf="column.isSortable" (click)="sortBy(column.key)">
            {{ column.title }}
            <fa-icon
              [icon]="faSortUp"
              size="xs"
              *ngIf="query.sortBy === column.key && query.isSortedAscending"
            ></fa-icon>
            <fa-icon
              [icon]="faSortDown"
              size="xs"
              *ngIf="query.sortBy === column.key && !query.isSortedAscending"
            ></fa-icon>
          </div>
          <div *ngIf="!column.isSortable">
            {{ column.title }}
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let suburb of suburbs">
        <td scope="row">{{ suburb.name }}</td>
        <td scope="row">{{ suburb.postcode }}</td>
        <td scope="row">{{ suburb.state.name }}</td>
        <td scope="row">{{ suburb.state.acronym }}</td>
        <td scope="row" class="actions">
          <a
            [routerLink]="['/suburb', suburb.id]"
            (click)="onEditSuburb(suburb)"
            class="btn btn-primary mr-5"
          >
            Edit
          </a>
          <button
            (click)="onDeleteSuburb(suburb)"
            class="btn btn-danger"
            type="button"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    [total-items]="queryResult.totalItems"
    [page-size]="query.pageSize"
    (page-changed)="onPageChanged($event)"
  ></pagination>
</div>
<h2 *ngIf="!suburbsLoaded">Suburbs loading...</h2>
