<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/']">Property Rental</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <ng-container
            *ngIf="authService.isAuthenticated$ | async; else loggedOut"
          >
            <li class="nav-item">
              <a class="nav-link text-dark" (click)="onLogout()">Log out</a>
            </li>
          </ng-container>
          <ng-template #loggedOut>
            <li class="nav-item">
              <a class="nav-link text-dark" (click)="onLogin()">Log in</a>
            </li>
          </ng-template>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            *ngIf="customAuthService.isAdmin()"
          >
            <a class="nav-link text-dark" [routerLink]="['/owners']">
              Owners
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            *ngIf="customAuthService.isLoggedIn()"
          >
            <a class="nav-link text-dark" [routerLink]="['/tenants']">
              Tenants
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            *ngIf="customAuthService.isAdmin()"
          >
            <a class="nav-link text-dark" [routerLink]="['/properties']">
              Properties
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            *ngIf="customAuthService.isAdmin()"
          >
            <a class="nav-link text-dark" [routerLink]="['/suburbs']">
              Suburbs
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            *ngIf="customAuthService.isLoggedIn()"
          >
            <a class="nav-link text-dark" [routerLink]="['/rentals']">
              Rentals
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
