<h1 class="title">Rental record</h1>
<div class="row" *ngIf="!rentalEditingMode">
  <div class="col-md-6">
    <label for="property">Available Properties</label>
    <select
      name="property"
      id="property"
      class="form-control custom-select"
      placeholder="Please choose one of the available propertyies"
      [(ngModel)]="selectedRental.property.id"
      (change)="onAvailablePropertyChange(selectedRental.property.id)"
      #property="ngModel"
      pattern="^[1-9][0-9]*$"
      required
    >
      <option
        value="{{ availableProperty.id }}"
        *ngFor="let availableProperty of availableProperties; index as i"
      >
        Property {{ i + 1 }}
      </option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="property.touched && selectedRental.propertyId == -1"
    >
      Please choose one of the available properties for the rental!
    </div>
  </div>
  <div class="col-md-6">
    <label for="tenant">Available Tenants</label>
    <select
      name="tenant"
      id="tenant"
      class="form-control custom-select"
      placeholder="Please choose one of the available tenants"
      [(ngModel)]="selectedRental.tenantId"
      (change)="onTenantChange(selectedRental.tenantId)"
      #tenant="ngModel"
      pattern="^[1-9][0-9]*$"
      required
    >
      <option value="{{ tenant.id }}" *ngFor="let tenant of tenants">
        {{ tenant.name }}
      </option>
    </select>
    <div
      class="alert alert-danger"
      *ngIf="tenant.touched && selectedRental.tenantId == -1"
    >
      Please choose one of the available tenants for the rental!
    </div>
  </div>
</div>
<form
  *ngIf="selectedRental"
  class="mt-3"
  (ngSubmit)="onSubmit(rentalForm)"
  #rentalForm="ngForm"
>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Property details</legend>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="owner">Owner</label>
        <input
          type="text"
          class="form-control"
          id="owner"
          placeholder="Please check the owner of the rental"
          name="owner"
          [(ngModel)]="selectedRental.property.owner.name"
          disabled
        />
      </div>
      <div class="form-group col-md-6">
        <label for="tenant">Tenant</label>
        <input
          type="text"
          class="form-control"
          id="tenant"
          placeholder="Please check the tenant of the rental"
          name="tenant"
          [(ngModel)]="selectedRental.tenant.name"
          disabled
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="unit">Unit</label>
        <input
          type="text"
          class="form-control"
          id="unit"
          placeholder="Please check the unit of the property"
          name="unit"
          [(ngModel)]="selectedRental.property.unit"
          disabled
        />
      </div>
      <div class="form-group col-md-6">
        <label for="street">Street</label>
        <input
          type="text"
          class="form-control"
          id="street"
          placeholder="Please check the street of the property"
          name="street"
          [(ngModel)]="selectedRental.property.street"
          disabled
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="suburb">Suburb</label>
        <input
          type="text"
          class="form-control"
          id="suburb"
          placeholder="Please check the suburb of the property"
          name="suburb"
          [(ngModel)]="selectedRental.property.suburb.name"
          disabled
        />
      </div>
      <div class="form-group col-md-6">
        <label for="state">State</label>
        <input
          type="text"
          class="form-control"
          id="state"
          placeholder="Please check the state of the property"
          name="state"
          [(ngModel)]="selectedRental.property.suburb.state.name"
          disabled
        />
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Rent details</legend>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="payment">Payment per week</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">$AU</div>
          </div>
          <input
            type="number"
            class="form-control"
            id="payment"
            placeholder="Please enter the rent of the rental"
            name="payment"
            [(ngModel)]="selectedRental.payment"
            #payment="ngModel"
            required
            min="100"
            max="999"
            pattern="^[0-9]{3}$"
          />
          <div
            class="alert alert-danger w-100"
            *ngIf="payment.touched && payment.invalid"
          >
            Please enter the payment of the rental! [100-999]
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="startDate">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          placeholder="Please choose or enter the start date of the rental"
          name="startDate"
          [(ngModel)]="selectedRental.startDate"
          #startDate="ngModel"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="startDate.touched && startDate.invalid"
        >
          Please choose or enter the start date of the rental!
        </div>
      </div>
      <div class="form-group col-md-4">
        <label for="endDate">End Date</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          placeholder="Please choose or enter the end date of the rental"
          name="endDate"
          [(ngModel)]="selectedRental.endDate"
          #endDate="ngModel"
          required
        />
        <div
          class="alert alert-danger"
          *ngIf="endDate.touched && endDate.invalid"
        >
          Please choose or enter the end date of the rental!
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Actions</legend>
    <div class="form-row">
      <div class="form-group col-xl-4">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="rentalForm.form.invalid"
          [disabled]="
            selectedRental.propertyId == -1 ||
            selectedRental.tenantId == -1 ||
            rentalForm.form.invalid
          "
        >
          Submit
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="onClear(rentalForm)"
        >
          Clear
        </button>
      </div>
    </div>
  </fieldset>
</form>
<h2 *ngIf="!selectedRental">Rental details loading...</h2>
