<h1 class="title">Suburb details</h1>
<form
  *ngIf="selectedSuburb"
  class="mt-3"
  (ngSubmit)="onSubmit(suburbForm)"
  #suburbForm="ngForm"
>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Name"
        name="name"
        [(ngModel)]="selectedSuburb.name"
        required
      />
    </div>
    <div class="form-group col-md-4">
      <label for="postcode">Postcode</label>
      <input
        type="number"
        class="form-control"
        id="postcode"
        placeholder="Postcode"
        name="postcode"
        [(ngModel)]="selectedSuburb.postcode"
        required
        pattern="^[0-9]{4}$"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <select
        class="form-control"
        id="state"
        placeholder="State"
        name="stateId"
        [(ngModel)]="selectedSuburb.stateId"
        required
        pattern="^[1-8]$"
      >
        <option value="0"></option>
        <option [value]="state.id" *ngFor="let state of states">
          {{ state.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-row d-flex flex-row justify-content-between">
    <div class="form-group col-md-3">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="suburbForm.form.invalid"
      >
        Submit
      </button>
    </div>
    <div class="form-group col-md-3">
      <button
        type="button"
        class="btn btn-primary btn-block"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
  </div>
</form>
<h2 *ngIf="!selectedSuburb">Suburb details loading...</h2>
<h2>{{ selectedSuburb | json }}</h2>
