<ng2-toasty [position]="'top-right'"></ng2-toasty>
<h1 class="title text-center">Suburb details</h1>
<form
  *ngIf="selectedSuburb"
  class="mt-3"
  (ngSubmit)="onSubmit(suburbForm)"
  #suburbForm="ngForm"
>
  <div class="form-row">
    <div class="form-group col-xl-4">
      <label for="name">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Please enter the name of the suburb"
        name="name"
        [(ngModel)]="selectedSuburb.name"
        #name="ngModel"
        required
      />
      <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
        Please enter the name of the suburb!
      </div>
    </div>
    <div class="form-group col-xl-4">
      <label for="postcode">Postcode</label>
      <input
        type="string"
        class="form-control"
        id="postcode"
        placeholder="Please enter the postcode of the suburb"
        name="postcode"
        [(ngModel)]="selectedSuburb.postcode"
        required
        pattern="(0[289][0-9]{2})|([1-9][0-9]{3})$"
        #postcode="ngModel"
      />
      <div
        class="alert alert-danger"
        *ngIf="postcode.touched && postcode.invalid"
      >
        Please enter the postcode of the suburb! [0200–0299,
        0800-0999,1000-9999]
      </div>
    </div>
    <div class="form-group col-xl-4">
      <label for="state">State</label>
      <select
        class="form-control"
        id="state"
        placeholder="Please select the state of the suburb"
        name="stateId"
        [(ngModel)]="selectedSuburb.stateId"
        required
        pattern="^[1-9][0-9]*$"
        #state="ngModel"
      >
        <option [value]="state.id" *ngFor="let state of states">
          {{ state.name }}
        </option>
      </select>
      <div class="alert alert-danger" *ngIf="state.touched && state.invalid">
        Please choose the state of the suburb!
      </div>
    </div>
  </div>
  <fieldset class="border p-3 mb-4">
    <legend class="w-auto">Actions</legend>
    <div class="form-row">
      <div class="form-group col-xl-4">
        <button
          type="submit"
          class="btn btn-primary btn-block"
          [disabled]="suburbForm.form.invalid"
        >
          Submit
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-primary btn-block"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
      <div class="form-group col-xl-4">
        <button
          type="button"
          class="btn btn-danger btn-block"
          (click)="onClear(suburbForm)"
        >
          Clear
        </button>
      </div>
    </div>
  </fieldset>
</form>
<h2 *ngIf="!selectedSuburb">Suburb details loading...</h2>
